<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="articleAchat">
            <h2><span jhiTranslate="gestionApp.articleAchat.detail.title">Article Achat</span> {{articleAchat.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gestionApp.articleAchat.quantite">Quantite</span></dt>
                <dd>
                    <span>{{articleAchat.quantite}}</span>
                </dd>
                <dt><span jhiTranslate="gestionApp.articleAchat.achat">Achat</span></dt>
                <dd>
                    <div *ngIf="articleAchat.achat">
                        <a [routerLink]="['/achat', articleAchat.achat?.id, 'view']">{{articleAchat.achat?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="gestionApp.articleAchat.article">Article</span></dt>
                <dd>
                    <div *ngIf="articleAchat.article">
                        <a [routerLink]="['/article', articleAchat.article?.id, 'view']">{{articleAchat.article?.code}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/article-achat', articleAchat.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
