<div>
    <h2 id="page-heading">
        <span jhiTranslate="gestionApp.factureAchat.home.title">Facture Achats</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-facture-achat" [routerLink]="['/facture-achat/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="gestionApp.factureAchat.home.createLabel">
            Create new Facture Achat
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="factureAchats">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="gestionApp.factureAchat.achat">Achat</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let factureAchat of factureAchats ;trackBy: trackId">
                <td><a [routerLink]="['/facture-achat', factureAchat.id, 'view' ]">{{factureAchat.id}}</a></td>
                <td>
                    <div *ngIf="factureAchat.achat">
                        <a [routerLink]="['../achat', factureAchat.achat?.id, 'view' ]" >{{factureAchat.achat?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/facture-achat', factureAchat.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/facture-achat', factureAchat.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'facture-achat/'+ factureAchat.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
