<div>
    <h2 id="page-heading">
        <span jhiTranslate="gestionApp.recouvrement.home.title">Recouvrements</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-recouvrement" [routerLink]="['/recouvrement/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="gestionApp.recouvrement.home.createLabel">
            Create new Recouvrement
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="recouvrements">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="gestionApp.recouvrement.montant">Montant</span></th>
            <th><span jhiTranslate="gestionApp.recouvrement.dateRec">Date Rec</span></th>
            <th><span jhiTranslate="gestionApp.recouvrement.modeRecouvrement">Mode Recouvrement</span></th>
            <th><span jhiTranslate="gestionApp.recouvrement.vente">Vente</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let recouvrement of recouvrements ;trackBy: trackId">
                <td><a [routerLink]="['/recouvrement', recouvrement.id, 'view' ]">{{recouvrement.id}}</a></td>
                <td>{{recouvrement.montant}}</td>
                <td>{{recouvrement.dateRec | date:'mediumDate'}}</td>
                <td jhiTranslate="{{'gestionApp.EnumModePaiement.' + recouvrement.modeRecouvrement}}">{{recouvrement.modeRecouvrement}}</td>
                <td>
                    <div *ngIf="recouvrement.vente">
                        <a [routerLink]="['../vente', recouvrement.vente?.id, 'view' ]" >{{recouvrement.vente?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/recouvrement', recouvrement.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/recouvrement', recouvrement.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'recouvrement/'+ recouvrement.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
