<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-client-heading" jhiTranslate="gestionApp.client.home.createOrEditLabel">Create or edit a Client</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!client.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="client.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionApp.client.code" for="field_code">Code</label>
                    <input type="text" class="form-control" name="code" id="field_code"
                        [(ngModel)]="client.code" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionApp.client.nom" for="field_nom">Nom</label>
                    <input type="text" class="form-control" name="nom" id="field_nom"
                        [(ngModel)]="client.nom" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionApp.client.matricule" for="field_matricule">Matricule</label>
                    <input type="text" class="form-control" name="matricule" id="field_matricule"
                        [(ngModel)]="client.matricule" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionApp.client.codePostal" for="field_codePostal">Code Postal</label>
                    <input type="text" class="form-control" name="codePostal" id="field_codePostal"
                        [(ngModel)]="client.codePostal" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionApp.client.telephone" for="field_telephone">Telephone</label>
                    <input type="text" class="form-control" name="telephone" id="field_telephone"
                        [(ngModel)]="client.telephone" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionApp.client.adresse" for="field_adresse">Adresse</label>
                    <input type="text" class="form-control" name="adresse" id="field_adresse"
                        [(ngModel)]="client.adresse" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
