<div>
    <h2 id="page-heading">
        <span jhiTranslate="gestionApp.vente.home.title">Ventes</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-vente" [routerLink]="['/vente/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="gestionApp.vente.home.createLabel">
            Create new Vente
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="ventes">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="gestionApp.vente.dateVente">Date Vente</span></th>
            <th><span jhiTranslate="gestionApp.vente.totalPrix">Total Prix</span></th>
            <th><span jhiTranslate="gestionApp.vente.montantRestant">Montant Restant</span></th>
            <th><span jhiTranslate="gestionApp.vente.client">Client</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let vente of ventes ;trackBy: trackId">
                <td><a [routerLink]="['/vente', vente.id, 'view' ]">{{vente.id}}</a></td>
                <td>{{vente.dateVente | date:'mediumDate'}}</td>
                <td>{{vente.totalPrix}}</td>
                <td>{{vente.montantRestant}}</td>
                <td>
                    <div *ngIf="vente.client">
                        <a [routerLink]="['../client', vente.client?.id, 'view' ]" >{{vente.client?.nom}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                      <div class="btn-group" role="group" ngbDropdown>
                          <button id="btnGroupDrop1" type="button" class="btn btn-success dropdown-toggle"
                              ngbDropdownToggle data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <span>
                                  <fa-icon [icon]="'th-list'"></fa-icon>
                                  <span>
                                      CRUD
                                  </span>
                              </span>
                          </button>
                          <div class="dropdown-menu" ngbDropdownMenu>
                              <a class="dropdown-item" [routerLink]="['/vente', vente.id, 'view' ]">
                                  <fa-icon [icon]="'eye'"></fa-icon>
                                  <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                              </a>
                              <a class="dropdown-item" [routerLink]="['/vente', vente.id, 'edit']">
                                  <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                  <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                              </a>
                              <a class="dropdown-item"
                                  [routerLink]="['/', { outlets: { popup: 'vente/'+ vente.id + '/delete'} }]"
                                  replaceUrl="true" queryParamsHandling="merge">
                                  <fa-icon [icon]="'times'">
                                  </fa-icon>
                                  <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                              </a>
                          </div>
                      </div>
                      <button type="submit" [routerLink]="['/recouvrement/new',vente.id]" class="btn btn-warning btn-sm">
                          <fa-icon [icon]="'pencil-alt'"></fa-icon>
                          <span class="d-none d-md-inline">Recouvrement</span>
                      </button><!--  -->

                      <button *ngIf='vente.factureVente !== undefined' type="submit"
                          [routerLink]="['/facture-vente', vente.factureVente.id, 'view' ]"
                          class="btn btn-info btn-sm">
                          <fa-icon [icon]="'eye'"></fa-icon>
                          <span class="d-none d-md-inline">Facture</span>
                      </button>
                      <button type="submit" [routerLink]="['/article-vente/new',vente.id]"
                          class="btn btn-primary btn-sm">
                          <fa-icon [icon]="'plus'"></fa-icon>
                          <span class="d-none d-md-inline">Ajouter Article</span>
                      </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
