<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-vente-heading" jhiTranslate="gestionApp.vente.home.createOrEditLabel">Create or edit a Vente</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!vente.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="vente.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionApp.vente.quantite" for="field_quantite">Quantite</label>
                    <input type="number" class="form-control" name="quantite" id="field_quantite"
                        [(ngModel)]="vente.quantite" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionApp.vente.dateVente" for="field_dateVente">Date Vente</label>
                    <div class="input-group">
                        <input id="field_dateVente" type="text" class="form-control" name="dateVente" ngbDatepicker  #dateVenteDp="ngbDatepicker" [(ngModel)]="vente.dateVente"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateVenteDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionApp.vente.totalPrix" for="field_totalPrix">Total Prix</label>
                    <input type="number" class="form-control" name="totalPrix" id="field_totalPrix"
                        [(ngModel)]="vente.totalPrix" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionApp.vente.montantRestant" for="field_montantRestant">Montant Restant</label>
                    <input type="number" class="form-control" name="montantRestant" id="field_montantRestant"
                        [(ngModel)]="vente.montantRestant" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionApp.vente.article" for="field_article">Article</label>
                    <select class="form-control" id="field_article" name="article" [(ngModel)]="vente.article" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="articleOption.id === vente.article?.id ? vente.article : articleOption" *ngFor="let articleOption of articles; trackBy: trackArticleById">{{articleOption.code}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionApp.vente.client" for="field_client">Client</label>
                    <select class="form-control" id="field_client" name="client" [(ngModel)]="vente.client" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="clientOption.id === vente.client?.id ? vente.client : clientOption" *ngFor="let clientOption of clients; trackBy: trackClientById">{{clientOption.nom}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
