<div class="row">

    <div class="col-md-12">
        <h1 class="display-4" >Stock</h1>

        <div [ngSwitch]="isAuthenticated()">


            <div class="table-responsive" *ngIf="articles">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th><span jhiTranslate="global.field.id">ID</span></th>
                            <th><span jhiTranslate="gestionApp.article.code">Code</span></th>
                            <th><span jhiTranslate="gestionApp.article.libelle">Libelle</span></th>
                            <th><span jhiTranslate="gestionApp.article.tVa">T Va</span></th>
                            <th><span jhiTranslate="gestionApp.article.unite">Unite</span></th>
                            <th><span jhiTranslate="gestionApp.article.prix">Prix</span></th>
                            <th><span >Quantité en stock</span></th>

                            <th><span jhiTranslate="gestionApp.article.famille">Famille</span></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let article of articles ;trackBy: trackId">
                            <td><a [routerLink]="['/article', article.id, 'view' ]">{{article.id}}</a></td>
                            <td>{{article.code}}</td>
                            <td>{{article.libelle}}</td>
                            <td>{{article.tVa}}</td>
                            <td>{{article.unite}}</td>
                            <td>{{article.prix}}</td>
                            <td>{{article.stockInitiale + article.totalAchat - article.totalVente}}</td>

                            <td>
                                <div *ngIf="article.famille">
                                    <a [routerLink]="['../famille', article.famille?.id, 'view' ]">{{article.famille?.libelle}}</a>
                                </div>
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>


        </div>


    </div>
</div>
