<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="achat">
            <h2><span jhiTranslate="gestionApp.achat.detail.title">Achat</span> {{achat.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gestionApp.achat.dateAchat">Date Achat</span></dt>
                <dd>
                    <span>{{achat.dateAchat}}</span>
                </dd>
                <dt><span jhiTranslate="gestionApp.achat.totalPrix">Total Prix</span></dt>
                <dd>
                    <span>{{achat.totalPrix}}</span>
                </dd>
                <dt><span jhiTranslate="gestionApp.achat.montantRestant">Montant Restant</span></dt>
                <dd>
                    <span>{{achat.montantRestant}}</span>
                </dd>
                <dt><span jhiTranslate="gestionApp.achat.remise">Remise</span></dt>
                <dd>
                    <span>{{achat.remise}}</span>
                </dd>
                <dt><span jhiTranslate="gestionApp.achat.fournisseur">Fournisseur</span></dt>
                <dd>
                    <div *ngIf="achat.fournisseur">
                        <a [routerLink]="['/fournisseur', achat.fournisseur?.id, 'view']">{{achat.fournisseur?.nom}}</a>
                    </div>
                </dd>
                <dt><span>Articles</span></dt>
                <dd *ngIf="articleAchats">
                    <div *ngFor="let article of articleAchats">
                        {{article.quantite}} <a
                            [routerLink]="['/article', article?.article.id, 'view']">{{article?.article.code}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit" (click)="previousState()" class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button" [routerLink]="['/achat', achat.id, 'edit']" class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
